name: C/C++ Build

on:
  workflow_dispatch:
  #push:
  #  branches: [ "master" ]
  #pull_request:
  #  branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v1
      with:
        cmake-version: 'latest'

    - name: List Dir
      run: find . -type f | sort
      
    - name: Configure with CMake
      run: cmake -B build -S .
      
    - name: Build
      run: cmake --build build
      
    - name: List Dir
      run: find . -type f | sort
